<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">

<h:head></h:head>
<body>

	Cursos
	<h:form id="frm">
		<p:dataTable value="#{cursoBean.lista}" var="c" stickyHeader="true"
			rows="10" paginator="true"
			paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
			rowsPerPageTemplate="5,10,15">

			<p:column headerText="ID">
				<p:outputLabel value="#{c.idCurso}" />
			</p:column>

			<p:column headerText="Nombre">
				<p:outputLabel value="#{c.nombre}" />
			</p:column>

			<p:column headerText="Horas">
				<p:outputLabel value="#{c.horas}" />
			</p:column>

			<p:column headerText="Acción">
				<p:commandLink value="Ver" oncomplete="PF('dlg').show()" actionListener="#{cursoBean.enviar(c)}" update="frm:dialogo"/>
			</p:column>

		</p:dataTable>
		
		<p:dialog id="dialogo" widgetVar="dlg" header="Elemento" modal="true" closeOnEscape="true" draggable="true" resizable="false" showEffect="explode">
			#{cursoBean.curso.idCurso}
			#{cursoBean.curso.nombre}
			#{cursoBean.curso.horas}
		</p:dialog>
	</h:form>
</body>
</html>
